@import url("https://use.typekit.net/xoz3bxj.css");

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

:root {
    --douwe-beige: #f2dfd7;
    --douwe-brown: #D3A997;
    --douwe-dark-brown: #AE7A63;
    --dark-bg: #262626;
}

body {
    position: relative;
    background-color: var(--douwe-beige);
}

::selection {
    background-color: var(--douwe-brown);
}

::-webkit-scrollbar {
    scrollbar-color: var(--douwe-beige);
}

::-webkit-scrollbar-thumb {
    background: var(--douwe-brown);
    background-clip: padding-box;
    border: 3px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--douwe-dark-brown);
    background-clip: padding-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

button {
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
}

nav {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    transition: top 0.2s;
}

nav.scroll-up {
    top: -80px;
}

.nav-backdrop {
    height: 100%;
    width: 100%;
    background-color: var(--douwe-beige);
    box-shadow: 0px 2.5px 0px rgb(0, 0, 0);
}

#nav-logo {
    position: absolute;
    top: 50%;
    left: 20px;
    width: auto;
    height: 60%;
    translate: 0 -50%;
    cursor: pointer;
    transition: translate 0.3s ease;
}

#nav-logo:hover {
    translate: 5px -50%;
}

.nav-menu {
    position: absolute;
    top: 50%;
    right: 20px;
    width: auto;
    height: 50%;
    translate: 0 -50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    text-align: center;
    transition: all 0.3s ease;
    color: #000;
    border: none;
    background-color: transparent;
    padding: 0 20px;
}

.nav-button:hover {
    letter-spacing: 0.05em;
    cursor: pointer;
}

.side {
    position: fixed;
    top: 50%;
    translate: 0 -50%;
    height: 50vh;
    width: auto;
    background-size: cover;
    z-index: 1;
    display: none;
}

.side-right {
    right: 2vw;
}

.side-left {
    left: 2vw;
}

h1 {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-size: 3.5em;
    /* margin-bottom: 20px; */
    /* line-height: 1.15em; */
    text-align: center;
    /* text-align-last: justify; */
    text-transform: uppercase;
}

h2 {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 1.15em;
    text-transform: uppercase;
}

h3 {
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.15em;
}

p {
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    width: auto;
    text-align: justify;
    margin-bottom: 10px;
}

p a {
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: underline;
}

p a:hover {
    color: var(--douwe-brown);
}

.text-box a {
    color: black;
}

.home-button {
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    transition: letter-spacing 0.3s ease;
    /* color: var(--douwe-beige); */
    color: #000;
    border: none;
    /* background: #00000050; */
    background: none;
    /* padding: 10px 20px; */
    padding: 0;
    margin-top: 20px;
}

.home-button:hover {
    letter-spacing: 0.05em;
    cursor: pointer;
    /* background: #000000; */
}

.contact {
    display: block;
    text-transform: unset;
}

.title-spacing {
    margin-top: 70px;
}

.art-info h2,
.category-box h2,
.art-info h3 {
    margin-bottom: 10px;
}


.text-box {
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 100px 25vw 100px 25vw;
    background-color: var(--douwe-beige);
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-reveal.active {
    opacity: 1;
    transform: translateY(0px);
}

.extra-img.scroll-reveal,
.category-box.scroll-reveal,
.home-button.scroll-reveal {
    transition: opacity 0.6s ease, transform 0.6s ease, translate 0.3s ease, box-shadow 0.3s ease, letter-spacing 0.3s ease;
}

.text-box h2 {
    margin-bottom: 10px;
}

.art-info {
    position: relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 10px;
    width: 30%;
    z-index: 3;
    padding: 2vw;
    /* background-color: rgba(38, 38, 38, 0.5);
    color: var(--douwe-beige);
    backdrop-filter: blur(15px); */
    background-color: #f2dfd7;
    color: black;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}

/* .info-bottom {
    position: relative;
    bottom: 0;
    left: 0;
} */

/* #home-main .art-info {
    background-color: #f2dfd7;
    color: black;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
} */

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--douwe-beige);
    opacity: 100;
    mix-blend-mode: color;
}

.right .art-info {
    left: 5vw;
}

.left .art-info {
    left: 65vw;
}

.art-img {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;

}

#art-img2 {
    top: -100vh;
    position: sticky;
}

header {
    /* color: var(--douwe-beige); */
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    top: -80px;
    margin-bottom: -80px;
    background-color: var(--douwe-beige);
    z-index: 0;
}

.header-text {
    width: max-content;
    max-width: 90vw;
    height: auto;
    padding: 20px 30px;
    position: absolute;
    bottom: 12vh;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
    /* overflow: hidden; */
    background-color: var(--douwe-beige);
    color: #000;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}

.home-text {
    position: absolute;
    top: 50%;
    left: 55%;
    translate: 0 -50%;
    z-index: 1;
    color: #000;
    text-align: left;
    max-width: 30vw;
}

.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.header-video-top {
    object-position: top;
}

.art-button {
    margin-bottom: 5px;
    border: none;
    color: #000;
}

.design-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.overlay-color {
    background-color: var(--douwe-beige);
    mix-blend-mode: color;
    z-index: -2;
    /* display: none; */
}

.overlay-darker {
    background-color: #56392e;
    mix-blend-mode: color-burn;
    opacity: 0.5;
    z-index: -2;
    /* display: none; */
}

.header-transparent,
body.dark-mode .header-transparent {
    background-color: transparent;
}

#animation-header {
    background: url(../video/schaduw.gif) no-repeat center center;
    background-size: cover;
}

.gradient {
    /* display: none; */
    height: 15vh;
    width: 100%;
    /* background: linear-gradient(rgba(255, 255, 255, 0), var(--douwe-beige)); */
    background-image: url(../img/bg-grdnt.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    /* background-size: cover; */
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 0;
}

.home-img-overlay {
    position: relative;
}

.home-img-overlay div {
    position: absolute;
    background-color: var(--douwe-beige);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
}

footer {
    height: 155px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--douwe-brown);
    bottom: 0;
    z-index: 2;
    padding: 0 20vw;
}

#footer-logo {
    position: absolute;
    width: auto;
    height: 65px;
    left: 50%;
    translate: -50%;
    z-index: 2;
    transition: translate 0.3s ease;
}

#footer-logo:hover {
    cursor: pointer;
    translate: -50% -5px;
}

footer button {
    position: relative;
}

footer button,
header button {
    border: none;
    background: none;
    text-align: center;
    transition: letter-spacing 0.3s ease;
}

footer button:hover,
header button:hover {
    letter-spacing: 0.05em;
    cursor: pointer;
}

.extra-img-box {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-start;
    padding-right: 5vw;
    padding-left: calc(5vw - 30px);
    margin-bottom: calc(5vw - 10px);
    margin-top: 60vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.extra-img-box::-webkit-scrollbar {
    display: none;
}

.right .extra-img-box {
    justify-content: flex-end;
    width: 100%;
}


.extra-img {
    float: none;
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 30px;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    background-color: #000;
    transition: box-shadow 0.3s ease, translate 0.3s ease;
}

.extra-img-box .extra-img {
    min-height: 200px;
    height: 20vw;
    width: auto;
}

.extra-img-box {
    cursor: grab;
    cursor: -webkit-grab;
}

.extra-img-box.dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.extra-img:hover {
    cursor: zoom-in;
    /* scale: 1.05; */
    translate: 5px 5px 0px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

#img-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f2dfd7b9;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: zoom-out;
}

#img-overlay img,
#img-overlay video {
    max-width: calc(90vw + 10px);
    max-height: calc(90vh + 10px);
    max-height: 90vh;
    margin-right: 10px;
    margin-bottom: 10px;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    background-color: #000;
    object-fit: contain;
    display: block;
}

.parallax {
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--douwe-beige);
    mix-blend-mode: color;
    transition: opacity 0.3s ease;
    pointer-events: none;
    display: none;
}

.parallax-soralia {
    background-image: url(../img/soralia-wide.jpg);
    background-position: top;
}

.parallax-mortifer {
    background-image: url(../img/mortifer-tsumi-wide.jpg);
    background-position: left 20% top 20%;
}

.parallax-caelum {
    background-image: url(../img/caelum.jpg);
    background-position: top;
}

.parallax-luna {
    background-image: url(../img/luna.jpg);
    background-position: top;
}

.parallax-inanis {
    background-image: url(../img/inanis.jpg)
}

.parallax-knip {
    background-image: url(../img/Helltown-bg.jpg);
}

.parallax-mms {
    background-image: url(../img/zonneberg.png);
}

.parallax-hjm {
    background-image: url(../video/trap.gif);
}

.parallax-animation {
    background-image: url(../video/schaduw.gif);
}

.parallax-echoes {
    background-image: url(../img/desert-wide.jpg);
}

.parallax-echoes-2 {
    background-image: url(../img/echoes-crow.jpg);
}

.parallax-danji {
    background-image: url(../video/danji-morph.gif);
    background-position: top;
}

.parallax-tempestia {
    background-image: url(../img/tempestia-wide.jpg);
    background-position: top;
}

/* .dark-bg {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.dark-bg2 {
    background: linear-gradient(rgb(33, 33, 33), rgb(105, 105, 105));
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -3;
    object-fit: cover;
} */

#genart-video,
#royal-home {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -3;
}

.parallax-royal,
.parallax-blender {
    mask-image: linear-gradient(to bottom, black 0%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 100%);
}

#royal-video,
#blender-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -2;
    object-fit: cover;
}

#blender-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#genart-video video,
#royal-video video,
#royal-home video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.black-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}

.grdnt-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.grdnt-left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.grdnt-bottom {
    position: absolute;
    right: 0;
    width: 100%;
    height: 60vh;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Styles for the hamburger menu */
.hamburger-menu {
    display: none;
    /* flex-direction: column; */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    transition: 0.4s;
}

.home-categories {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    position: relative;
    padding: 0 0 0 5vw;
    margin-bottom: 5vw;
    height: auto;
    width: 100%;
}

.category-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 28vw;
    z-index: 3;
    background-color: #f2dfd7;
    color: black;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    padding-bottom: 2vw;
    transition: translate 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: calc(2vw + 10px);
    margin-right: calc(2vw + 10px);
}

.category-box img,
.category-box video {
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
}

.category-box h2,
.category-box p,
.category-box button {
    padding-left: 2vw;
    padding-right: 2vw;
}

.category-box:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    translate: 5px 5px 0px;
}

.category-box p {
    margin-bottom: 20px;
}

.category-box button {
    margin-top: auto;
    margin-right: auto;
}

.tag {
    display: inline-block;
    border: 3px solid #000;
    background-color: var(--douwe-brown);
    padding: 7px 10px;
    margin-right: 10px;
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.brown-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70vh;
    max-height: 800px;
    background-image: url(../img/bg-brown.svg);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center bottom -10vh;
    z-index: -1;
    /* mix-blend-mode: darken; */
    pointer-events: none;
}

.brown-bg-small {
    background-position: center bottom -40vh;
}

.brown-bg-about {
    height: 45vh;
    max-height: 500px;
    /* background-position: center bottom -25vh; */
    z-index: 3;
    mix-blend-mode: darken;
}

.brown-bg-home {
    height: 90vh;
    background-position: center bottom;

}

.main-section {
    position: relative;
    padding: 0 25vw 0 25vw;
    margin-bottom: 10px;
    /* background-color: var(--douwe-beige); */
}

.main-section h2 {
    margin-bottom: 20px;
}

.tagbox {
    margin-bottom: 20px;
}

.category-box .tagbox {
    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 10px;
    margin-bottom: 5px;
}

iframe {
    border: 3px solid #000;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    width: 100%;
    aspect-ratio: 16/9;
}

.collage .extra-img-box {
    justify-content: flex-start;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-bottom: 100px; */
    /* background-color: var(--douwe-beige); */
}

.bottom-section {
    margin-bottom: 100px;
}

.extra-img-container {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.side-scroll {
    position: absolute;
    top: calc(50% - 5px);
    transform: translateY(-50%);
    display: none;
}

#scroll-top {
    position: fixed;
    opacity: 1;
    width: auto;
    float: right;
    margin-top: 10vh;
    right: 2vw;
    bottom: 55px;
    background-image: url(../img/scroll-top.svg);
    transition: all 0.3s ease;
    transform: translateY(100px);
}

.scrolldown {
    bottom: 3vh;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
    background-image: url(../img/scroll-bottom.svg);
}

#scroll-top,
.side-scroll,
.scrolldown {
    cursor: pointer;
    z-index: 4;
    height: 40px;
    width: 40px;
    background-color: var(--douwe-beige);
    border: 3px solid #000;
    border-radius: 50%;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    transition: all 0.3s ease;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.side-scroll:hover,
#scroll-top:hover,
.scrolldown:hover {
    box-shadow: 2px 2px 0px rgb(0, 0, 0);
    translate: 3px 3px 0px;
}

.scroll-left {
    left: 2vw;
    background-image: url(../img/scroll-left.svg);
    background-position: 45%;
}

.scroll-right {
    right: 2vw;
    background-image: url(../img/scroll-right.svg);
    background-position: 55%;
}

.collage-spacing .extra-img-box {
    margin-top: 40px;
}

.collage h2,
.collage p {
    padding: 0 25vw;
    margin-bottom: 20px;
}

.collage-button {
    margin-top: 20px;
    padding-left: 25vw;
}

.collage p {
    margin-top: -10px;
    /* margin-bottom: 30px; */
}

.collage-spacing {
    padding-top: 100px;
}

.quote {
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
}

.text-box img,
.text-box video {
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}

.dropbtn {
    padding: 16px;
    height: 60px;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--douwe-beige);
    border: 3px solid #000;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    z-index: 1;
    padding: 10px;
}

.dropdown-content button {
    color: black;
    padding: 10px 10px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: max-content;
}

.dropdown:hover .dropbtn {
    letter-spacing: 0.05em;
}

@media (max-width: 992px) {
    /* body.dark-mode .nav-menu.active .nav-button {
        background-color: #2626267e;
    } */

    .text-box {
        padding: 20vw 7vw;
        width: 100%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }

    .parallax {
        min-height: 70vh;
    }

    .art-info {
        position: relative;
        width: 86vw;
        margin-left: auto;
        margin-right: auto;
        /* width: 100%; */
        padding: 7vw;
        margin-top: 70vh;
        margin-bottom: 10px;
        bottom: 10px;
    }

    .extra-img-box {
        margin-top: 0;
        padding-right: 0;
        padding-left: calc(7vw - 10px);
        margin-bottom: 10vw;
    }

    .extra-img {
        margin: 10px 20px 10px 10px;
    }

    button {
        font-size: 1.2em;
    }

    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        height: 30px;
        width: 25px;
        position: absolute;
        top: 50%;
        right: 30px;
        translate: 0 -50%;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
        top: 100px;
        right: 0;
        /* background-color: #f2dfd780; */
        width: 100%;
        /* backdrop-filter: blur(15px); */
    }

    .nav-menu.active .nav-button,
    .nav-menu.active .dropdown {
        display: block;
        padding: 10px;
        text-align: center;
        width: 100%;
        height: auto;
        /* background-color: #f2dfd780; */
        /* backdrop-filter: blur(15px); */
    }

    .hamburger-menu.active #bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active #bar2 {
        width: 0;
        margin-left: 25px;
    }

    .hamburger-menu.active #bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-backdrop.active {
        min-height: 260px;
    }

    /* #home-header {
        background: url(../img/home-header.jpg) no-repeat 60%;
        background-size: cover;
        width: 100%;
        height: 50vh;
    } */

    #header-edit {
        /* background: url(../img/home-header.jpg) no-repeat 60%; */
        background-size: cover;
        width: 100%;
        height: 50vh;
    }

    .header-text {
        width: max-content;
        max-width: 90vw;
        bottom: 70px;
    }

    .black-gradient {
        display: none;
    }

    /* #royal-home, #royal-video {
        width: 150vw;
        height: auto;
        left: 50%;
        top: 40%;
        translate: -50% -50%;
    } */

    .parallax-hjm {
        background-position: 80%;
        background-size: 200%;
        background-repeat: no-repeat;
    }

    .left .art-info,
    .right .art-info {
        float: none;
        left: 0px;
    }

    .parallax-mortifer {
        background-image: url(../img/mortifer-tsumi-full.jpg);

        background-position: center top 20%;
    }

    .scrolldown,
    #scroll-top {
        display: none;
    }

    footer {
        /* height: auto; */
        align-items: center;
        /* flex-direction: column; */
        padding: 50px 7vw;
    }

    #footer-logo {
        display: none;
    }

    .home-categories {
        flex-direction: column;
        align-items: center;
        padding: 0 5vw;
    }

    .category-box {
        width: 90vw;
        margin-bottom: 30px;
        padding-bottom: 7vw;
        margin-right: 0;
    }

    .category-box img,
    .category-box video {
        margin-bottom: 7vw;
    }

    .category-box h2,
    .category-box p,
    .category-box button {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .category-box .tagbox {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .main-section {
        padding: 0 7vw;
    }

    .collage h2,
    .collage p {
        padding: 0 7vw 0 7vw;
    }

    .dropdown::after .dropdown-content {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        width: max-content;
    }

    .dropdown::after .dropbtn {
        letter-spacing: 0.05em;
    }

    .collage-button {
        padding-left: 7vw;
    }

    .right .extra-img-box {
        justify-content: flex-start;
        width: 100%;
    }

    .brown-bg {
        background-size: cover;
        height: 60vh;
    }

    .brown-bg-about {
        height: 400px;
    }
}