@import url("https://use.typekit.net/fik0wyy.css");

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "futura-pt";
    src: url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "futura-pt";
    src: url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

body {
    position: relative;
    background-color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00000040;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00000060;
}

nav {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

}

.nav-backdrop {
    height: 100%;
    width: 100%;
    background-color: #ffffff7e;

}

.nav-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 60%;
    translate: -50% -50%;
    cursor: pointer;
}

.scrolldown {
    animation: MoveUpDown 2s ease-in-out infinite;
    position: absolute;
    background: url(../img/scrolldown.svg) no-repeat center center;
    border: none;
    /* bottom: 50px; */
    left: 50%;
    width: 30px;
    height: 30px;
    translate: -50% 0;
    cursor: pointer;
    /* transition: all 0.5s ease; */
    z-index: 100;
}

/* .scrolldown:hover {
    translate: -50% 5px;
} */

.side {
    position: fixed;
    top: 50%;
    translate: 0 -50%;
    height: 50vh;
    width: auto;
    background-size: cover;
    z-index: 1;
}

.side-right {
    right: 2vw;
}

.side-left {
    left: 2vw;
}

h1 {
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5em;
}

h2 {
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.art-info h2 {
    margin-bottom: 10px;
}

.info-bottom {
    bottom: 5vh;
}

.text-box {
    width: 100%;
    z-index: 3;
    padding: 150px 25vw 150px 25vw;
    background-color: white;
}

.art-info {
    position: absolute;
    margin-top: 5vh;
    width: 25%;
    z-index: 3;
    padding: 5%;
    background-color: none;
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.right {
    left: 5vw;
}

.left {
    right: 5vw;
}

.art-img {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;

}

#art-img2 {
    top: -100vh;
    position: sticky;
}

p {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    line-height: 1.5em;
    width: auto;
}

p a {
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: underline;
}

header {
    color: white;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

.header-text {
    position: absolute;
    bottom: 120px;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
}

.home-text {
    position: absolute;
    top: 50%;
    left: 60%;
    translate: 0 -50%;
    z-index: 1;
    color: #000;
    text-align: left;
    max-width: 30vw;
}

.home-text p {
    margin-top: 1.5em;
}

.home-text h1 {
    font-size: 4em;
}

#home-header {
    background: url(../img/home-bg.png) no-repeat;
    background-size: cover;
}

#art-header {
    background: url(../img/tsumi-wide.png) no-repeat center center;
    background-size: cover;
}

#design-header {
    background: url(../img/header-img.png) no-repeat center center;
    background-size: cover;
}

#cmd-header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.gradient {
    height: 30vh;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.gallery {
    height: 2600px;
    margin: 0;
    padding-top: 200px;
    width: 100%;
    position: relative;

}

.gallery div {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;

}

.gallery div:hover {
    cursor: pointer;
    scale: 1.05;
}

.img1 {
    left: 20%;
    z-index: 3;
    background-image: url(../img/White\ Queen\ Final.png);
    width: 25vw;
    height: 25vw;
}

.img2 {
    top: 200px;
    right: 20%;
    z-index: 2;
    background-image: url(../img/pinokkio.png);
    width: 22vw;
    height: 32vw;
}

.img3 {
    top: 250px;
    left: 40%;
    z-index: 1;
    background-image: url(../img/white-queen.gif);
    width: 20vw;
    height: 13vw;
}

.img4 {
    top: 1000px;
    left: 15%;
    z-index: 3;
    background-image: url(../img/001.png);
    width: 23vw;
    height: 23vw;
}

.img5 {
    top: 700px;
    left: 35%;
    z-index: 2;
    background-image: url(../img/japanese\ mix\ 1\ cover.png);
    width: 13vw;
    height: 13vw;
}

.img6 {
    top: 1300px;
    left: 20%;
    z-index: 2;
    background-image: url(../img/ihvj_knip_poster.png);
    width: 22vw;
    height: 32vw;
}

.img7 {
    top: 1700px;
    left: 50%;
    z-index: 3;
    background-image: url(../img/Danji.jpg);
    width: 22vw;
    height: 22vw;
}

.img8 {
    top: 2000px;
    right: 20%;
    z-index: 2;
    background-image: url(../img/Akira2.png);
    width: 23vw;
    height: 26vw;
}

.img9 {
    top: 1300px;
    left: 40%;
    z-index: 1;
    background-image: url(../img/codingcat-thumb.png);
    width: 16vw;
    height: 16vw;
}

.img10 {
    top: 3000px;
    left: 20%;
    z-index: 3;
    background-image: url(../img/Rotterdam.jpg);
    width: 30vw;
    height: 20vw;
}

.img11 {
    top: 2700px;
    right: 25%;
    z-index: 2;
    background-image: url(../img/cat-sunset.gif);
    width: 20vw;
    height: 20vw;
}

#home-circle {
    position: absolute;
    right: 25vw;
    top: 900px;
    width: 10vw;
    height: auto;
}

#home-cross {
    position: absolute;
    right: 35vw;
    top: 1500px;
    width: 2vw;
    height: auto;
}

#home-rect {
    position: absolute;
    left: 30vw;
    top: 2400px;
    width: 4vw;
    height: auto;
}

footer {
    height: 175px;
    width: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    bottom: 0;
}

.footer-logo {
    width: auto;
    height: 60%;
    margin: 0 auto;
    transition: all 0.4s ease;
}

.footer-logo:hover {
    margin-bottom: 20px;
    cursor: pointer;

}

footer button, header button {
    border: none;
    background: none;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    transition: all 0.3s ease;

}

header button {
    color: white;
}

footer button:hover, header button:hover {
    letter-spacing: 0.2em;
    cursor: pointer;
}

#personal-ig {
    position: absolute;
    right: 20%;
}

#art-ig {
    position: absolute;
    left: 20%;
}

.parallax {
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax-one {
    background-image: url(../img/serena-wide.png);
}

.parallax-two {
    background-image: url(../img/navi.png);
}

.parallax-three {
    background-image: url(../img/tempestia\ wide.png);
}

.parallax-four {
    background-image: url(../img/akira.png);
}

.parallax-five {
    background-image: url(../img/jun.png);
}

.parallax-six {
    background-image: url(../img/white-queen-wide.png);
}

.parallax-knip {
    background-image: url(../img/knip-posters.png);
}

.parallax-album {
    background-image: url(../img/vinyl-mockup.png);
}

.parallax-squares {
    background-image: url(../img/square\ mockup.png);
}

.parallax-codingcat {
    background-image: url(../img/codingcat-bord.png);
}

.parallax-mms {
    background-image: url(../img/Varkensboerderij.jpg);
}

.parallax-animation {
    background-image: url(../img/sitting-at-lake.gif);
}

#blender-video {
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

#blender-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.black-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}

.grdnt-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.grdnt-left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.gallery p {
    text-transform: uppercase;
    position: absolute;
    bottom: -1.6em;
    color: #00000040;
    font-size: 1em;
}


@keyframes MoveUpDown {
    0%, 100% {
        bottom: 50px;
    }

    50% {
        bottom: 30px;
    }
}