@import url("https://use.typekit.net/xoz3bxj.css");

* {
    box-sizing: border-box;
}

:root {
    --douwe-beige: #f2dfd7;
    --douwe-brown: #AE7A63;
    --dark-bg: #262626;
}

body.dark-mode, body.dark-mode footer, body.dark-mode .text-box, body.dark-mode header {
    background-color: var(--dark-bg);
    color: var(--douwe-beige);
}

body.dark-mode .nav-backdrop {
    background-color: #2626267e;
}

body.dark-mode p, body.dark-mode h1, body.dark-mode h2, body.dark-mode .text-box a {
    color: var(--douwe-beige);
}

body.dark-mode .nav-button, body.dark-mode footer button {
    color: var(--douwe-beige);
}

body.dark-mode .gallery .rellax .overlay {
    background-color: #2626267e;
}

body.dark-mode .gradient {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(38, 38, 38, 1));
}

body.dark-mode .bar {
    background-color: var(--douwe-beige);
}

body {
    position: relative;
    background-color: var(--douwe-beige);
}

::selection {
    background-color: var(--douwe-brown);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #ae7963b4;
    opacity: 50%;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ae7963;
}

.darkmode-button {
    position: absolute;
    top: 50%;
    left: 20px;
    translate: 0 -50%;
    cursor: pointer;
}

.darkmode-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.darkmode-label {
    cursor: pointer;
    text-indent: -9999px;
    /* width: 40px; */
    height: 24px;
    display: block;
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
    background-color: black;
    /* to temporarily hide the toggle */
    visibility: hidden;
    width: 10px;
}

.darkmode-label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: var(--douwe-beige);
    border-radius: 90px;
    transition: 0.3s;
    background-image: url(../img/light-icon.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.darkmode-checkbox:checked+.darkmode-label {
    background: var(--douwe-beige);

}

.darkmode-checkbox:checked+.darkmode-label::after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background-color: black;
    background-image: url(../img/dark-icon.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
}

nav {
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    /* box-shadow: 0 0 60px rgba(0, 0, 0, 0.2); */
    /* backdrop-filter: blur(15px); */
    transition: top 0.2s;
}

nav.scroll-up {
    top: -80px;
}

.nav-backdrop {
    height: 100%;
    width: 100%;
    /* background-color: #f2dfd780; */
    /* backdrop-filter: blur(15px); */
    background-color: var(--douwe-beige);
    box-shadow: 0px 2px 0px rgb(0, 0, 0);
}

#nav-logo {
    position: absolute;
    top: 50%;
    left: 20px;
    width: auto;
    height: 60%;
    translate: 0 -50%;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    top: 50%;
    right: 20px;
    width: auto;
    height: 50%;
    translate: 0 -50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    text-align: center;
    transition: all 0.3s ease;
    color: #000;
    border: none;
    background-color: transparent;
    padding: 0 20px;
}

.nav-button:hover {
    letter-spacing: 0.05em;
    cursor: pointer;
}

.scrolldown {
    animation: MoveUpDown 2s ease-in-out infinite;
    position: absolute;
    /* background: url(../img/scrolldown.svg) no-repeat center center; */
    border: none;
    left: 50%;
    width: 50px;
    height: auto;
    translate: -50% 0;
    cursor: pointer;
    z-index: 100;
}

.side {
    position: fixed;
    top: 50%;
    translate: 0 -50%;
    height: 50vh;
    width: auto;
    background-size: cover;
    z-index: 1;
    display: none;
}

.side-right {
    right: 2vw;
}

.side-left {
    left: 2vw;
}

h1 {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-size: 3.5em;
    /* margin-bottom: 20px; */
    /* line-height: 1.15em; */
    text-align: center;
    /* text-align-last: justify; */
    text-transform: uppercase;
}

h2 {
    font-family: "noka", sans-serif;
    font-weight: 800;
    font-size: 2em;
    line-height: 1.15em;
    text-transform: uppercase;
}

p {
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5em;
    width: auto;
    text-align: justify;
}

p a {
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: underline;
}

.text-box a {
    color: black;
}

.home-button {
    font-family: "noka", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
    transition: all 0.3s ease;
    /* color: var(--douwe-beige); */
    color: #000;
    border: none;
    /* background: #00000050; */
    background: none;
    /* padding: 10px 20px; */
    padding: 0;
    margin-top: 20px;
}

.home-button:hover {
    letter-spacing: 0.05em;
    cursor: pointer;
    /* background: #000000; */
}

.art-info h2, .category-box h2 {
    margin-bottom: 20px;
}


.text-box {
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 100px 25vw 100px 25vw;
    background-color: var(--douwe-beige);
}

.text-box h2 {
    margin-bottom: 10px;
}

.art-info {
    position: relative;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 10px;
    width: 30%;
    z-index: 3;
    padding: 2vw;
    /* background-color: rgba(38, 38, 38, 0.5);
    color: var(--douwe-beige);
    backdrop-filter: blur(15px); */
    background-color: #f2dfd7;
    color: black;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}

/* .info-bottom {
    position: relative;
    bottom: 0;
    left: 0;
} */

/* #home-main .art-info {
    background-color: #f2dfd7;
    color: black;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
} */

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--douwe-beige);
    opacity: 100;
    mix-blend-mode: color;
}

.right .art-info {
    left: 5vw;
}

.left .art-info {
    left: 65vw;
}

.art-img {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;

}

#art-img2 {
    top: -100vh;
    position: sticky;
}

header {
    /* color: var(--douwe-beige); */
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
    top: -80px;
    margin-bottom: -80px;
    background-color: var(--douwe-beige);
    z-index: 0;
}

.header-text {
    width: max-content;
    max-width: 90vw;
    height: auto;
    padding: 20px 30px;
    position: absolute;
    bottom: 12vh;
    left: 50%;
    translate: -50% 0;
    z-index: 1;
    /* overflow: hidden; */
    background-color: var(--douwe-beige);
    color: #000;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}

.home-text {
    position: absolute;
    top: 50%;
    left: 55%;
    translate: 0 -50%;
    z-index: 1;
    color: #000;
    text-align: left;
    max-width: 30vw;
}

.header-img {
    width: 100%;
    height: 100%;
}

#home-header {
    background: url(../img/home-header.jpg) no-repeat center;
    background-size: cover;
    background-color: var(--douwe-beige);
}

#art-header {
    background: url(../img/yuki.jpg) no-repeat center center;
    background-size: cover;
}

/* 
#art-header button {
    margin-top: 10px;
} */

.art-button {
    margin-bottom: 5px;
    border: none;
    color: #000;
}

#design-header {
    background: url(../img/design-header.png) no-repeat center center;
    background-size: cover;
}

.design-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.overlay-color {
    background-color: var(--douwe-beige);
    mix-blend-mode: color;
    z-index: -2;
    /* display: none; */
}

.overlay-darker {
    background-color: #56392e;
    mix-blend-mode: color-burn;
    opacity: 0.5;
    z-index: -2;
    /* display: none; */
}

.header-transparent, body.dark-mode .header-transparent {
    background-color: transparent;
}

#animation-header {
    background: url(../video/schaduw.gif) no-repeat center center;
    background-size: cover;
}

.gradient {
    height: 25vh;
    width: 100%;
    /* background: linear-gradient(rgba(255, 255, 255, 0), var(--douwe-beige)); */
    background-image: url(../img/bg-grdnt.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    /* background-size: cover; */
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 0;
}

.home-img-overlay {
    position: relative;
}

.home-img-overlay div {
    position: absolute;
    background-color: var(--douwe-beige);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
}

footer {
    height: 155px;
    width: 100%;
    /* box-shadow: 0 0 60px rgba(0, 0, 0, 0.2); */
    /* border: #000 3px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--douwe-beige);
    bottom: 0;
}

#footer-logo {
    width: auto;
    height: 60%;
    margin: 0 auto;
    transition: all 0.4s ease;
}

#footer-logo:hover {
    margin-bottom: 20px;
    cursor: pointer;

}

footer button, header button {
    border: none;
    background: none;
    text-align: center;
    transition: all 0.3s ease;
}

footer button:hover, header button:hover {
    letter-spacing: 0.05em;
    cursor: pointer;
}

#personal-ig {
    position: absolute;
    right: 20%;
}

#art-ig {
    position: absolute;
    left: 20%;
}

.extra-img-box {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-start;
    padding-right: 5vw;
    padding-left: calc(5vw - 30px);
    margin-bottom: calc(5vw - 10px);
    margin-top: 60vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.extra-img-box::-webkit-scrollbar {
    display: none;
}

.right .extra-img-box {
    justify-content: flex-end;
    width: 100%;
}

.extra-img-box-full {
    justify-content: flex-start !important;
}


.extra-img {
    float: none;
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 30px;
    width: auto;
    min-height: 200px;
    height: 20vw;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    background-color: #000;
    transition: all 0.3s ease;
}

.extra-img-box {
    cursor: grab;
    cursor: -webkit-grab;
}

.extra-img-box.dragging {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.extra-img:hover {
    cursor: zoom-in;
    /* scale: 1.05; */
    translate: 5px 5px 0px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

#img-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f2dfd7b9;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    cursor: zoom-out;
}

#img-overlay img, #img-overlay video {
    max-width: calc(90vw + 10px);
    max-height: calc(90vh + 10px);
    max-height: 90vh;
    margin-right: 10px;
    margin-bottom: 10px;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    background-color: #000;
    object-fit: contain;
    display: block;
}

.parallax {
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--douwe-beige);
    mix-blend-mode: color;
    transition: all 0.3s ease;
    pointer-events: none;
    display: none;
}

.parallax-one {
    background-image: url(../img/serena-wide.jpg);
    background-position: top;
}

.parallax-two {
    background-image: url(../img/navi.jpg);
}

.parallax-four {
    background-image: url(../img/desideria.jpg);
    background-position: top;
}

.parallax-caelum {
    background-image: url(../img/caelum.jpg);
    background-position: top;
}

.parallax-luna {
    background-image: url(../img/luna.jpg);
    background-position: top;
}

.parallax-axelia {
    background-image: url(../img/axelia.jpg);
    background-position: top;
}

.parallax-lyra {
    background-image: url(../img/lyra.jpg);
    background-position: top;
}

.parallax-five {
    background-image: url(../img/jun-kaede.jpg);
}

.parallax-knip {
    background-image: url(../img/knip-posters.jpg);
}

.parallax-codingcat {
    background-image: url(../img/codingcat-bord.png);
}

.parallax-mms {
    background-image: url(../img/zonneberg.png);
}

.parallax-thirst {
    background-image: url(../video/sitting-at-lake.gif);
}

.parallax-hjm {
    background-image: url(../video/trap.gif);
}

.parallax-cmd {
    background-image: url(../img/design-header.jpg);
}

.parallax-art {
    background-image: url(../img/yuki.jpg);
}

.parallax-animation {
    background-image: url(../video/schaduw.gif);
}

.dark-bg {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.dark-bg2 {
    background: linear-gradient(rgb(33, 33, 33), rgb(105, 105, 105));
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -3;
    object-fit: cover;
}

#danji-video, #genart-video, #royal-home {
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -3;
}

.parallax-royal, .parallax-blender {
    mask-image: linear-gradient(to bottom, black 0%, black 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 100%);
}

#royal-video, #blender-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -2;
    object-fit: cover;
}

#blender-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#danji-video video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center 10%;

}

#genart-video video, #royal-video video, #royal-home video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.black-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
}

.grdnt-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.grdnt-left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.grdnt-bottom {
    position: absolute;
    right: 0;
    width: 100%;
    height: 60vh;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Styles for the hamburger menu */
.hamburger-menu {
    display: none;
    /* flex-direction: column; */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px 0;
    transition: 0.4s;
}

.home-categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    /* background-color: var(--douwe-beige); */
    padding: 0 5vw 5vw 5vw;
    margin-bottom: 5vw;
    height: auto;
    width: 100%;
}

.category-box {
    position: relative;
    display: flex;
    flex-direction: column;
    /* float: left; */
    /* margin: 10px; */
    width: 28vw;
    z-index: 3;
    background-color: #f2dfd7;
    color: black;
    border: #000 3px solid;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    padding-bottom: 2vw;
    transition: all 0.3s ease;
}

.category-box img, .category-box video {
    width: 100%;
    height: auto;
    margin-bottom: 2vw;
}

.category-box h2, .category-box p, .category-box button {
    padding-left: 2vw;
    padding-right: 2vw;
}

.category-box:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    translate: 5px 5px 0px;
}

.category-box p {
    margin-bottom: 10px;
}

.category-box button {
    margin-top: auto;
    margin-right: auto;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 30px;
    }

    50% {
        bottom: 20px;
    }
}

@media (max-width: 992px) {
    /* body.dark-mode .nav-menu.active .nav-button {
        background-color: #2626267e;
    } */

    .text-box {
        padding: 20vw 7vw;
        width: 100%;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }

    .parallax {
        min-height: 70vh;
    }

    .art-info {
        position: relative;
        width: calc(100vw - 30px);
        /* width: 100%; */
        padding: 7vw;
        margin-top: 70vh;
        margin-bottom: 10px;
        bottom: 10px;
    }

    .extra-img-box {
        margin-top: 0;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 10vw;
    }

    .extra-img {
        margin: 10px 20px 10px 10px;
    }

    button {
        font-size: 1.2em;
    }

    .nav-menu {
        display: none;
    }

    .hamburger-menu {
        display: block;
        height: 30px;
        width: 25px;
        position: absolute;
        top: 50%;
        right: 30px;
        translate: 0 -50%;
    }

    .nav-menu.active {
        display: block;
        position: absolute;
        top: 100px;
        right: 0;
        /* background-color: #f2dfd780; */
        width: 100%;
        /* backdrop-filter: blur(15px); */
    }

    .nav-menu.active .nav-button {
        padding: 10px;
        text-align: center;
        width: 100%;
        height: auto;
        /* background-color: #f2dfd780; */
        /* backdrop-filter: blur(15px); */
    }

    .hamburger-menu.active #bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active #bar2 {
        width: 0;
        margin-left: 25px;
    }

    .hamburger-menu.active #bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav-backdrop.active {
        height: 220px;
    }

    /* #home-header {
        background: url(../img/home-header.jpg) no-repeat 60%;
        background-size: cover;
        width: 100%;
        height: 50vh;
    } */

    #header-edit {
        /* background: url(../img/home-header.jpg) no-repeat 60%; */
        background-size: cover;
        width: 100%;
        height: 50vh;
    }

    .header-text {
        width: max-content;
        max-width: 90vw;
        bottom: 70px;
    }

    .black-gradient {
        display: none;
    }

    /* #footer-logo {
        width: 40%;
        height: 40%;
    } */

    #personal-ig {
        right: 7vw;
    }

    #art-ig {
        left: 7vw;
    }

    #royal-home, #royal-video {
        width: 150vw;
        height: auto;
        left: 50%;
        top: 40%;
        translate: -50% -50%;
    }

    .parallax-hjm {
        background-position: 80%;
        background-size: 200%;
        background-repeat: no-repeat;
    }

    .left .art-info, .right .art-info {
        float: none;
        left: 10px;
    }

    .parallax-knip {
        background-position: 75%;
    }

    .scrolldown {
        display: none;
    }

    footer {
        padding: 20px;
    }

    .home-categories {
        flex-direction: column;
        align-items: center;
    }

    .category-box {
        width: 90vw;
        margin-bottom: 30px;
        padding-bottom: 7vw;
    }

    .category-box img, .category-box video {
        margin-bottom: 7vw;
    }

    .category-box h2, .category-box p, .category-box button {
        padding-left: 7vw;
        padding-right: 7vw;
    }
}